body {
	margin: 0px; 
	font-family: "Roboto Slab", serif !important;
	scroll-behavior: smooth; 
}

header {
	background-color: white; 
	color: black;
	text-align: center;
	/padding: 5% 5% 0px 5%;/
}

.morepadding {font-family: "Grape Nuts", cursive !important;}
html {
	scroll-behavior: smooth;
}

main  {
	background-color: white;
}

.whitelink{ 
	text-decoration: none;
	color: white;
	text-decoration: bold;
}

nav { 
	margin: 0px auto;
    background-color: #F5F5F5; 
}

nav ul {
	list-style-type: none;
	padding-left: 0px !important; 
}

nav ul li {
	display: inline-block; 
	/background-color: white;/
	padding: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	text-transform: uppercase;
}

h1 {
	text-align: center; 
	margin: 0px auto;
	font-family: "Oleo Script Swash Caps";
	/text-transform:uppercase;/
	color: white !important;
}

.imgsh {

	opacity: 0.8;
	transition: opacity .25s ease-in-out; 
}
.imgsh:hover {
	opacity: 1;
}

#homeicon {
	font-size: 2em; 
}

.active {
	background-color: grey;
}

li.active a { 
	color: white;
}

.unactive {
	transition: background-color .10s ease-in-out;
}

.unactive:hover {
	background-color: white;
}

li.unactive:hover a {
	color: grey;
}
				
.morepadding {
	padding-top: 0% !important;
	padding-bottom: 0%;
}
#paddingbottom {padding-bottom: 5% !important;}
/*.paddingup {padding: 0% 0% !important;}*/
.row.morepadding {
	padding: 0% 5%;
	text-align: center;
}
#paddingtop {padding-top: 5% !important;}

#logohome {
	max-width: 100%;
    margin-top: 10%;
}

.carousel-inner {
	padding: 5% 0px;
}

.row.no-gutters {
	padding-bottom: 3%;
	background-color: white;
	color: #BEBEBE;
}

.row.no-gutters.central {
	background-color: #E0E0E0;
	color: #A0A0A0;
}

.card.mb-3 {
	border: none;
}

.card-body {
	background color: #E0E0E0 !important;
}

.card-img-top {
	max-width: 100%;
}

.nav-item {
	transition: color 0.15s ease-in-out;
	transition: background-color 0.15s ease-in-out; 
	transition: border-color 0.15s ease-in-out;
	scroll-behavior: smooth;
}

.card-date {
	color: black;
}

.card-title {
	color: #606060;
}

.row.morepadding {
	padding: 0% 5% 5% 5%;
}

.fa-instagram {
	color:grey;
	font-size: 2em;
}

.fa-facebook {
	color:grey;
	font-size: 2em;
}

.fa-youtube {
	color:grey;
	font-size: 2em;
}

#join {
	text-align: center;
	color: black;
}

#follow {
	text-align: center;
	color: grey;
}
.follow1 {padding-top: 8%;
		  color: grey;}
.follow2 {margin-bottom: 8%;}
h4 {
	text-align: center;
	color:#606060 !important;
}

.morepadding {
	padding: 1em 5%;
}

#text {
	text-align: center !important;
}



body {
	background:#F5F5F5;
	margin:0%
}

.form {
	width:340px;
	height:440px;
	background:#F5F5F5;
	border-radius:8px;
	margin:calc(30vh - 220px) auto;
	padding:15px 10px;
	max-width:calc(100vw - 40px);
	box-sizing:border-box;
	font-family:'Roboto Slab',sans-serif;
	position:relative
}

h3 {
	margin:10px 0;
	padding-bottom:10px;
	width:320px;color:#606060;
	border-bottom:2px solid #606060
}

input {
	width:100%;
	padding:10px;
	box-sizing:border-box;
	background:none;
	outline:none;
	resize:none;
	border:0;
	font-family:'Roboto Slab',sans-serif;
	transition:all .3s;
	border-bottom:1px solid #606060
}

input:focus {
	border-bottom:1px solid #606060
}

p:before {
	content:attr(type);
	display:block;
	margin:28px 0 0;
	font-size:14px;
	color:#606060
}

button {
	float:center;
	padding:8px 12px;
	margin:8px 0 0;
	font-family:'Roboto Slab',sans-serif;
	border:2px solid #606060;
	background:0;
	color:#606060;
	cursor:pointer;
	transition:all .3s
}

button1:hover{
	background:#606060;
	color:#606060
}

span{
	margin:0 5px 0 15px
}

.btn {border: none;}
#acquista {text-align: center;}
.form1 {
	width:100%;
	height:440px;
	background:#F5F5F5;
	border-radius:8px;
	margin:calc(30vh - 220px) auto;
	padding:15px 10px;
	max-width:calc(100vw - 40px);
	box-sizing:border-box;
	font-family:'Roboto Slab',sans-serif;
	position:relative
}

h3 {
	margin:10px 0;
	padding-bottom:10px;
	width:100%;color:#606060;
	text-align: center !important;	
}

input {
	width:100%;
	padding:10px;
	box-sizing:border-box;
	background:none;
	outline:none;
	resize:none;
	border:0;
	font-family:'Roboto Slab',sans-serif;
	transition:all .3s;
	border-bottom:1px solid #606060
}

input:focus {
	border-bottom:1px solid #606060
}

p:before {
	content:attr(type);
	display:block;
	margin:28px 0 0;
	font-size:14px;
	color:#606060
}

button {
	float:right;
	padding:8px 12px;
	margin:8px 0 0;
	font-family:'Roboto Slab',sans-serif;
	border:2px solid #606060;
	background:0;
	color:#606060;
	cursor:pointer;
	transition:all .3s
}

button1 {
	float:center;
	padding:8px 12px;
	margin:8px 0 0;
	font-family:'Roboto Slab',sans-serif;
	border:2px solid #606060;
	background:0;
	color:#606060;
	cursor:pointer;
	transition:all .3s
}

button1:hover{
	background:#606060;
	color:#606060
}

span{
	margin:0 5px 0 15px
}

p1 {
	color:grey;
}
#albero {
	max-width: 45%;
	margin: 40px 25%;
}

#wireframe {
	max-width: 45%;
	margin: 40px 25%;
}
