body {margin: 0px; font-family: "Roboto Slab", serif !important;
		scroll-behavior: smooth; }
header {background-color: white

; 
		color: black;
		text-align: center;
		/*padding: 5% 5% 0px 5%;*/
	}
html {scroll-behavior: smooth;}
main  {background-color: white;}
.whitelink{ text-decoration: none;
			color: white;
			text-decoration: bold;
			}



nav { margin: 0px auto;
      background-color: #F5F5F5; }

nav ul {list-style-type: none;
		padding-left: 0px !important; }

nav ul li { display: inline-block; 
			/*background-color: white;*/
			padding: 8px;
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
			text-transform: uppercase;
			}

h1 {text-align: center; 
	margin: 0px auto;
	font-family: "Oleo Script Swash Caps";
	
	/*text-transform:uppercase;*/
	color: white !important;
	}

#homeimage {max-width: 60%; 
			margin: 5% 20%;
			text-align: center;
			opacity: 0.8;
			transition: opacity .25s ease-in-out; }

#homeimage:hover {opacity: 1;}

#homeicon {font-size: 2em; 
		}
.active {background-color: grey;}
li.active a{ color: white;}

.unactive {transition: background-color .10s ease-in-out;}
.unactive:hover {background-color: white;}
li.unactive:hover a {color: grey;}
				
.morepadding {padding: 1em 0%;}
.row.morepadding {padding: 0% 5%;
				  text-align: center;}

#logohome {max-width: 100%;
           margin-top: 5%;}

.carousel-inner {padding: 5% 0px;}
.row.no-gutters {padding: 7% 0px;
				 background-color: white;
				 color: #BEBEBE;
				 }
.row.no-gutters.central {background-color: 	#E0E0E0;
						 color: #A0A0A0;}

.card.mb-3 {border: none;}
.card-body {background color: #E0E0E0 !important;}
.card-img-top {max-width: 100%;}

.nav-item {transition: color 0.15s ease-in-out;} 
	       {transition: background-color 0.15s ease-in-out; }
	       {transition: border-color 0.15s ease-in-out;
	       	scroll-behavior: smooth;}

.card-date {color: black;
			}
.card-title {color: #606060;}



